/* Custom properties/variables  */
:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
  }
  
  /* Base reset */
* {
    margin: 0;
    padding: 0;
}
  
.nav {
    display: flex; 
    justify-content: flex-end;
    background-color: var(--main-red); /* Our variable for our red color */
    padding: 20px 25px; /* "20px of padding on the top and bottom, 25px on the left and right" */
}
  
.nav .nav-list {
    list-style: none; /* removes the bullet points */
    display: flex; 
}
  
.nav .nav-list li {
    margin-left: 30px; /* 20px of space to the left of the element */
}
  
.nav .nav-list li a {
    font-size: 24px; 
    text-decoration: none;
    color: var(--main-white); /* Our variable for our white color */
}
  
.nav .nav-list li a:hover {
    color: var(--main-blue); /* Our variable for our white color */
}
  
  